<mat-sidenav-container class="example-container">
  <!-- Sidenav positioned to the right -->
  <mat-sidenav mode="side" opened position="end" class="sidenav">
    <!-- Content inside sidenav -->
	<div class="button-container">
	  <div class="button-div">&#x261A;</div>
	  <div class="button-div">&#x2601;</div>
	
	</div>
	

	<!-- Keyboard numbers --->
	<div class="keyboard-container">
	  <div class="button-div">7</div>
	  <div class="button-div">8</div>
	  <div class="button-div">9</div>

	</div>
	
	<div class="keyboard-container">
	  <div class="button-div">4</div>
	  <div class="button-div">5</div>
	  <div class="button-div">6</div>

	</div>
	
	<div class="keyboard-container">
		  <div class="button-div">1</div>
		  <div class="button-div">2</div>
		  <div class="button-div">3</div>

	</div>
	
	<div class="keyboard-container">
			  <div class="button-div">0</div>
			  <div class="button-div-2">&#x2714;</div>
			  

	</div>
   <br /><hr />

   
   <!-- Keyboard 2 icos --->
   	<div class="keyboard-container">
   	  <div class="button-div-blue">&#x2630;</div>
   	  <div class="button-div-pink">&#x27B2;</div>
   	  <div class="button-div"> &#x2756;</div>
   	</div>

	<div class="keyboard-container">
	  <div class="button-div-green">&#x279C;</div>
	  <div class="button-div-blue-2">&#x2709;</div>
	  <div class="button-div-orange">&#x260F;</div>
	</div>
		
	
	<!-- Keyboard 3 close --->
	  	<div class="keyboard-container">
	  	  <div class="button-div-close-1">&#x2611;</div><div class="button-div-closing">Closing</div>
	  	  <div class="button-div-close-2">&#x2610;</div><div class="button-div-reservation">Reservation</div>
	  
	  	</div>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Main content -->
	
     <app-tables></app-tables>
	
  </mat-sidenav-content>
</mat-sidenav-container>
